

ul {
  list-style-type: none;
  margin-top: 4px;
}
.category-selector {
  min-width: 320px;
}
// .centro {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
// }
// @media screen and (max-width:740px) {
//   .example-form, .centro {
//     grid-template-columns: 100%;
//   }  
// }
.filters {
  width: 100%;
  max-width: 1040px;
  margin: 24px auto;
  padding: 0 20px;


  .course-search {
      width: 320px;   
  }
}
.todo-list li .destroy {
  width: 100%;
}
.todo-list li .view label {

  grid-template-columns: 20% 50% 30%;
}
