<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="m-0" color="primary">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{dialogTitle}} ENCUESTA</span>
      <button mat-icon-button (click)="onNoClick()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>

  </mat-toolbar>

<div class="example-container">
    <!-- <mat-form-field>
        <input matInput placeholder="Nombre de la nueva encuesta" [(ngModel)]="NewEncuesta.denominacion">
    </mat-form-field> -->

    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
      <mat-label>NOMBRE</mat-label>
      <input matInput placeholder="Nombre de la nueva encuesta" [(ngModel)]="NewEncuesta.denominacion">
      <!-- <mat-error>NOMBRE REQUERIDA</mat-error> -->
    </mat-form-field>
</div>
<br>
<!-- POR SEMESTRES -->
<div class="cuerpo">
  <div class="hijos1">
  <mat-form-field appearance="outline" class="category-selector">
    <mat-label>SELECCIONE SEMESTRE</mat-label>
    <mat-select  [(ngModel)]="NewEncuesta.semestre">
        <mat-option *ngFor="let category of semestres" [value]="category.value">
            {{ category.label }}
        </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="NewEncuesta.finicio" [matDatepicker]="picker" (dateChange)="onChangeEvent($event)" placeholder="Fecha inicio">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>ESTADO DE ENCUESTA</mat-label>
  <mat-select [(ngModel)]="NewEncuesta.estado" name="item">
    <mat-option *ngFor="let item of estado" [value]="item.value">
      {{item.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

</div>
<div class="hijos1">
  <mat-form-field appearance="fill">
    <mat-label>TIPO DE ENCUESTA</mat-label>
    <mat-select [(ngModel)]="NewEncuesta.tipoencuesta" name="item">
      <mat-option *ngFor="let item of tipoencuesta" [value]="item.value">
        {{item.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="NewEncuesta.ffin" [matDatepicker]="piker2" (dateChange)="onChangeEvent2($event)" placeholder="Fecha fin">
    <mat-datepicker-toggle matSuffix [for]="piker2"></mat-datepicker-toggle>
    <mat-datepicker #piker2></mat-datepicker>
</mat-form-field>
</div>


 






</div>
<div mat-dialog-actions class="modal-botones">
    <button mat-raised-button color="warn" (click)="onNoClick()">CANCELAR</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="NewEncuesta" cdkFocusInitial>ACEPTAR</button>
</div>
</div>
<!-- <button mat-raised-button color="primary" (click)="crearNuevaEncuesta()">CREAR</button> -->