.example-container {
    display: flex;
    flex-direction: column;
}

// .example-container>* {
//     width: 50%;
// }
mat-toolbar-row {
    display: grid !important;
    grid-template-columns: 90% 10% !important;
  }
  .modal-botones{
    display: grid!important;
    grid-template-columns: 50% 50%!important;
    button {
        margin: 0 10px!important;
        width: 90%!important;
      }
  }
  .cuerpo {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .mat-form-field {
    display: block!important;
    width: 90%;
  }