<div id="operar-personal">

  <div class="general mat-elevation-z8">
    <h3 class="text-center">{{listaCargaAcademica[0].apellido | uppercase}},
      {{listaCargaAcademica[0].nombre | uppercase}}</h3>
    <h5 class="text-center">{{listaCargaAcademica[0].cargo | uppercase}}</h5>
    <!-- acordion -->
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of listaPreguntas; let i=index">
        <mat-expansion-panel-header>
          <mat-panel-title class="color-azul" [ngClass]="{'color-rojo': item.pregunta.estado === true}">
            {{item.pregunta.enunciado | uppercase}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="alternativas"
          *ngIf="item.pregunta.tipoalternativa === 'DICOTOMICA' || item.pregunta.tipoalternativa === 'UNICO'">
          <table>
            <tbody>
              <tr *ngFor="let alte of item.pregunta.alternativaList">
                <td>
                  <div class="md-radio">
                    <input type="radio" id="{{alte.idalternativa}}{{item.idencuestapregunta}}" name="item.pregunta{{i}}"
                      [value]="alte" (change)="onSelectionChangeAlternativa(alte,item)">
                    <label for="{{alte.idalternativa}}{{item.idencuestapregunta}}">{{alte.descripcion}}</label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="alternativas" *ngIf="item.pregunta.tipoalternativa === 'COMENTARIO'">
          <mat-form-field class="example-full-width">
            <mat-label>COMENTARIO</mat-label>
            <textarea [(ngModel)]="comentario" (ngModelChange)="somethingChanged(item)" matInput
              placeholder="DEJE EL COMENTARIO"></textarea>
          </mat-form-field>
        </div>
        <div class="alternativas" *ngIf="item.pregunta.tipoalternativa === 'RANGO'">
          <mat-card class="example-result-card">
            <mat-card-content>
              <mat-slider (change)="cambios(value,item)" class="example-margin" max="20" min="0" step="1"
                thumbLabel="true" [(ngModel)]="value" [vertical]="vertical">
              </mat-slider>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- fin acordeon -->
    <div class="modal-botones">
      <button mat-raised-button color="primary" (click)="EnviarEncuesta()" *ngIf="mostrarBoton">GUARDAR</button>
    </div>

  </div>

</div>
