mat-toolbar-row {
  display: grid !important;
  grid-template-columns: 90% 10% !important;
}

.title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.mat-dialog-container {
  padding: 0;

  .mat-toolbar {
    flex: 1 0 auto;
    min-height: initial;
  }

  .toolbar-bottom {
    height: auto;
  }
}

.dialog-content-wrapper {
  max-height: 85vh;
  display: flex;
  flex-direction: column;
}
mat-form-field {
    width: 90%;
  }
  .modal-botones{
      display: grid!important;
      grid-template-columns: 50% 50%!important;
      button {
          margin: 0 10px!important;
          width: 90%!important;
        }
    }
  .example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  .modal-cuerpo {
    display: grid;
    grid-template-columns: 50% 50%;
  }