<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="m-0" color="primary">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{dialogTitle}} DOCENTE</span>
      <button mat-icon-button (click)="onNoClick()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>

  </mat-toolbar>

  <mat-card-content>
    <form #formDirective="ngForm" class="example-form" [formGroup]="validatingForm">
      <div class="modal-cuerpo">
        <div class="dividir">
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>CODIGO DOCENTE</mat-label>
            <input matInput color="primary" formControlName="coddocente" type="text" name="coddocente" required>
            <mat-error>CODIGO REQUERIDA</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>NOMBRE</mat-label>
            <input matInput color="primary" formControlName="nombre" type="text" name="nombre" required>
            <mat-error>NOMBRE REQUERIDA</mat-error>
          </mat-form-field>
        </div>

        <div class="dividir">
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>APELLIDOS</mat-label>
            <input matInput color="primary" formControlName="apellido" type="text" name="apellido" required>
            <mat-error>APELLIDOS REQUERIDA</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>DNI</mat-label>
            <input matInput color="primary" maxlength="8" formControlName="dni" type="text" name="dni" required>
            <mat-error>DNI REQUERIDA</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="modal-botones">
        <button mat-raised-button type="submit" [mat-dialog-close]="validatingForm.value"
          [disabled]="!validatingForm.valid" color="primary">{{dialogTitle}}</button>
        <button mat-raised-button type="submit" (click)="onNoClick()" color="accent">CANCELAR</button>
      </div>
    </form>
    <!-- </div> -->
  </mat-card-content>

</div>
