#operar {


.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  mat-expansion-panel-header {
      background: #FCF4F3;
  }
  h3, h5 {
      color: blue;
      font-weight: 700;
      margin: 0!important;
  }
  .color-azul{
      color: blue!important;
  }
  .color-rojo {
      color:red!important;
  }
  .example-full-width {
    width: 100%;
  }
  // .butto1 {
  //     margin: 10px;
  //     height: 40px;
  //     width: 140px;
  // }
  .example-h2 {
    margin: 0 8px 16px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 8px;
  }
  
  .mat-slider-horizontal {
    width: 300px;
  }
  
  .mat-slider-vertical {
    height: 300px;
  }
  
  .mat-card + .mat-card {
    margin-top: 8px;
  }
  
  .example-result-card h2 {
    margin: 0 8px;
  }
  mat-form-field{
    width: 100%;
  }
  .titulo{
    position: fixed;
    z-index: 99;
    left: 0;
    top:60px;
    width: 100%;
    background-color: #FCF4F3;
  }
  .cuerpo{
    margin-top: 100px;
  }
  .colorear{
    color: red!important;
  }
}