<div id="bienvenido">

<div class="mat-elevation-z8">
  <h4 class="mt-5">BIENVENIDO AL SISTEMA DE ENCUESTA DE LA ESCUELA PROFESIONAL DE INGENIERIA DE SISTEMAS</h4>
  <p class="mt-5">Estimado estudiante, la encuesta estudiantil es un instrumento destinado a revelar sus opiniones sobre
    sus cursos, docentes, personal administrativo y la escuela en su conjunto; cuyo objetivo final se traducirá en la
    mejora continua de la calidad académica.
    Solicitamos a usted la total sinceridad en sus respuestas.
  </p>
  <br>
  <div class="courses" fxLayout="row wrap" fxLayoutAlign="center">
    <div class="course mat-elevation-z8" *ngFor="let course of Allencuesta" fxFlex="100" fxFlex.gt-xs="50"
      fxFlex.gt-sm="33" [ngClass]="course.tipoencuesta">
      <div class="course-content" fxLayout="column" fxFlex="1 1 auto">
        <div class="header" fxLayout="row" fxLayoutAlign="center center" [ngClass]="course.tipoencuesta + '-bg'">
          <div class="category" fxFlex>
            {{course.tipoencuesta}}
          </div>
          <div class="length" fxLayout="row" fxLayoutAlign="center center">
            <!-- <mat-icon class="length-icon s-20">access_time</mat-icon> -->
            <div class="min">FECHA INICIO: {{course.finicio}}</div>
            <div class="min">FECHA FIN: {{course.ffin}}</div>
          </div>
        </div>
        <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
          <div class="updated">{{course.denominacion}}</div>
          <mat-divider></mat-divider>
          <div class="semestre"> SEMESTRE: {{course.semestre}}</div>
        </div>
        <div class="footer" fxLayout="row" fxLayoutAlign="center center">
          <button mat-raised-button [ngClass]="course.tipoencuesta + '-bg'" (click)="irAencuestar(course)">REALIZAR ENCUESTA</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
