  <div class="pp-container">
    <div class="logo">
      <img src="./assets/img/logo_unsch.png" alt="">
    </div>
    <h3 class="titulo">ENCUESTA DE INGENIERIA DE SISTEMAS - UNSCH</h3>

    <div class="login">
      <mat-card class="example-card mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>ENCUESTA</mat-card-title>
          <!-- <div class="logo">
          <img src="../../../assets/img/logo-unsch.png" alt="">
        </div> -->
        </mat-card-header>
        <mat-card-content>
          <form class="example-form" [formGroup]="validatingForm" (ngSubmit)="loginAlumno(validatingForm.value)">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="CODIGO UNIVERSITARIO" formControlName="codigo" name="codigo" required>
                    <mat-error>CAMPO REQUERIDO</mat-error>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="DNI" color="primary" formControlName="dni" type="password" name="dni"
                      required>
                    <mat-error>CAMPO REQUERIDO</mat-error>
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <div class="centro">
              <button mat-raised-button type="submit" [disabled]="!validatingForm.valid"
                color="primary">INGRESAR</button>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
      <!-- <h4 class="titulo">SISTEMA DE ENCUESTA DE DOCENTES DE INGENIERIA DE SISTEMAS - UNSCH</h4> -->
    </div>
    
    <div class="footer">
      <p class="text-center" (click)="Administrador()">
        Acceso para administrador <span style="color:white; cursor: pointer;font-weight: 700">login</span>
      </p>
    </div>
  </div>
<app-footer></app-footer>
