.general {
  display: grid;
  grid-template-columns: 25% 75%;
}

.todo-list {
  margin: 5px 0 0 5px;
  padding: 0;
  list-style: none;
  //   width: 80%;
  // color: blue!important;
}

.todo-list li {
  position: relative;
  font-size: 10px;

  border-bottom: 1px solid black;
}

label.sistema:hover {
  background: rgb(224, 224, 226);
  cursor: pointer;
}

.cabeza {
  color: blue;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.asignatura {
  color: black;
  font-weight: 500;
}

.asunto {
  color: red;
}

.todo-list li .view label {
  // word-break: break-all;
  // padding: 10px 5px 5px 10px;
  // display: block;
  // line-height: 1.2;
  // transition: color 0.4s;
  // // cambios para el grid
  // display: grid;
  text-align: left;
  display: flex;
  // grid-template-columns: 90%;
}

.hijo1 {
  border: none;
  font: 24px/36px sans-serif;
  height: 800px;
  overflow-y: scroll;

  table {
    // width: 95%;
    margin: 2px;
  }

  table,
  th,
  td {
    border: 1px solid black;
    font-size: 9px;
  }

  th,
  td {
    text-align: center;
  }
  td.icono {
    border: none!important;
    color:red;
    width: 20px !important;
  }
  td.icono:hover {
    cursor: pointer;
  }
  td.amarillo {
    background-color: rgb(241, 201, 66);
    font-weight: bold;
  }
  td.comentario {
    text-align: left!important;
    font-weight: normal!important;
    font-size: 15px;
  }
}
table tbody tr:nth-child(odd) {
  font-weight: bold;
}

button {
  margin: 10px;
}




.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.base {

  padding-bottom: 50px !important;
}

.alternativa {
  width: 20px;
}

.decription {
  // background-color: firebrick;
  width: 500px;
}

.logo-header {
  background-image: url('./../../../../assets/img/cabeza-1.png') !important;
  height: 150px;
  width: 100% !important;
}
