<div class="header accent" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
  fxLayoutAlign.gt-xs="space-between center">
  <h3>REPORTE DE DOCENTES</h3>
  <div class="cabezera">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <abbr title="REGRESAR LISTA DE ENCUESTAS"> <span routerLink="/Sistemas/Desarrollo/Inicio"
            class="material-icons">keyboard_arrow_left</span></abbr>
        <abbr title="DESCARGAR EXEL"> <span (click)="exportexcel()" *ngIf="mostrarExel"
            class="material-icons">assignment_returned</span></abbr>
        <abbr title="DESCARGAR PDF"> <span (click)="createPDF()" *ngIf="mostrarExel"
            class="material-icons">picture_as_pdf</span></abbr>
      </div>
    </div>
    <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
      <div class="search-wrapper mt-16 mt-sm-0">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input [(ngModel)]="buscar" placeholder="BUSCAR">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="general mat-elevation-z8">
  <div class="hijo1">
    <ul id="todo-list" class="todo-list">
      <li>
        <div class="view">
          <label class="cabeza">
            <span class="codigo">LISTA DE DOCENTES</span>
          </label>
        </div>
      </li>
      <li *ngFor="let item of docentes | filter:buscar">
        <div class="view">
          <label class="sistema" (click)="DocenteChart(item)">
            <span> {{ item.nombre |uppercase}} {{ item.apellido |uppercase }}</span>
          </label>
        </div>
      </li>
    </ul>
  </div>
  <div class="hijo1 pageA4" *ngIf="mostrarExel" id="imprimirpfg">
    <div class="logo-header">

    </div>
    <table id="excel-table">
      <thead>
        <tr>
          <th>DOCENTE</th>
          <th colspan="5">{{cargaAcademic.nombre}} {{cargaAcademic.apellido}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of graficando">
          <td *ngIf="item.descrip" class="decription" [ngClass]="{'amarillo': item.val1 === 'TOTAL DE ALUMNOS' || item.descrip === 'COMENTARIOS DEL CURSO','comentario': item.descrip ==='COMENTARIO'}">{{item.descrip}}</td>
          <td *ngIf="item.val1" class="alternativa" [attr.colspan]="item.large1" [ngClass]="{'amarillo': item.val1 === 'TOTAL DE ALUMNOS'|| item.descrip === 'COMENTARIOS DEL CURSO','comentario': item.descrip ==='COMENTARIO'}">{{item.val1}}</td>
          <td *ngIf="item.val2" class="alternativa" [attr.colspan]="item.large2" [ngClass]="{'amarillo': item.val1 === 'TOTAL DE ALUMNOS'|| item.descrip === 'COMENTARIOS DEL CURSO'}" >{{item.val2}}</td>
          <td *ngIf="item.val3" class="alternativa" [attr.colspan]="item.large3">{{item.val3}}</td>
          <td *ngIf="item.val4" class="alternativa" [attr.colspan]="item.large4">{{item.val4}}</td>
          <td *ngIf="item.val5" class="alternativa" [attr.colspan]="item.large5">{{item.val5}}</td>
          <td *ngIf="item.descrip ==='COMENTARIO'" class="icono" (click)="eliminarcomentario(item)"><span class="material-icons">
            delete
            </span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h3>RANKING DE DOCENTES POR CANTIDAD DE ALUMNOS</h3>
<div class="mat-elevation-z8 base">
  <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="created" matSortDisableClear
    matSortDirection="desc" id="excel-ranking">
    <ng-container matColumnDef="num">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> N° </th>
      <td mat-cell *matCellDef="let row ; let i = index"> {{i+1}} </td>
    </ng-container>
    <ng-container matColumnDef="docente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DOCENTE </th>
      <td mat-cell *matCellDef="let row"> {{row.docente | uppercase}} </td>
    </ng-container>
    <ng-container matColumnDef="nota">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> NOTA </th>
      <td mat-cell *matCellDef="let row"> {{row.calificacion}} </td>
    </ng-container>
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CANTIDAD DE ALUMNOS </th>
      <td mat-cell *matCellDef="let row"> {{row.cantidadEncuestados}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button (click)="exportexcelranking()" color="primary" mat-raised-button>DESCARGAR EXEL</button>
</div>
<!-- <div class="hijo1" >

  <table id="excel-general">
    <thead>
      <tr>
        <th>REPORTE GENERAL</th>
        <th colspan="5">{{cargaAcademic.nombre}} {{cargaAcademic.apellido}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of grafgeneral">
        <td *ngIf="item.descrip" class="decription">{{item.descrip}}</td>
        <td *ngIf="item.val1" class="alternativa">{{item.val1}}</td>
        <td *ngIf="item.val2" class="alternativa">{{item.val2}}</td>
        <td *ngIf="item.val3" class="alternativa">{{item.val3}}</td>
        <td *ngIf="item.val4" class="alternativa">{{item.val4}}</td>
        <td *ngIf="item.val5" class="alternativa">{{item.val5}}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="exportexcelGeneral()" color="primary" mat-raised-button>DESCARGAR EXEL</button>

</div> -->

<h1>CANTIDAD DE ALUMNOS QUE ENCUESTARON POR ESCUELA</h1>
<ngx-charts-bar-vertical-stacked *ngIf="vergrafica"
  [view]="view"
  [scheme]="colorScheme"
  [results]="multi"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [showDataLabel]="showDataLabel"
  [animations]="animations"
  [legendTitle]="legendTitle"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical-stacked>
