.login {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.example-card {
    padding: 50px;
}
mat-card-actions {
    display: flex;
    justify-content: center;
}