<div class="login">
  <mat-card class="example-card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>ADMINISTRADOR</mat-card-title>
    </mat-card-header>
    <form class="example-form" [formGroup]="validatingForm">
      <mat-card-content>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="USUARIO" formControlName="username" name="username" required>
                <mat-error>CAMPO REQUERIDA</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="CONTRASEÑA" formControlName="password" type="password" name="password"
                  required>
                <mat-error>CAMPO REQUERIDA</mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-raised-button (click)="login()" color="primary">INGRESAR</button> -->
        <button mat-raised-button color="warn" (click)="onNoClick()">SALIR</button>
        <button mat-raised-button [disabled]="!validatingForm.valid" [mat-dialog-close]="validatingForm.value" color="primary">INGRESAR</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
