<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="m-0" color="primary">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">PREGUNTA</span>
        <button mat-icon-button (click)="onNoClick()" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
  
    </mat-toolbar>
  
    <mat-card-content>

        <div class="modal-cuerpo">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-label>PREGUNTA</mat-label>
                <input [(ngModel)]="newQuestion.enunciado" matInput color="primary" type="text" name="enunciado" required>
                <mat-error>PREGUNTAS REQUERIDA</mat-error>
              </mat-form-field>
              
              <mat-form-field appearance="fill">
                <mat-label>TIPO DE PREGUNTA</mat-label>
                <mat-select required [(ngModel)]="newQuestion.tipopregunta">
                  <mat-option disabled>--</mat-option>
                  <mat-option  value="ADMINISTRATIVO">ADMINISTRATIVO</mat-option>
                  <mat-option  value="DOCENTE">DOCENTE</mat-option>
                  <mat-option  value="ESCUELA">ESCUELA</mat-option>
                </mat-select>
                <mat-error>CAMPO REQUERIDO</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" >
                <mat-label>TIPO DE ALTERNATIVAS</mat-label>
                <mat-select [(value)]="selectedFood" (selectionChange)="seleccionado(selectedFood)">
                    <mat-option disabled>--</mat-option>       
                    <mat-option [value]="option.value" *ngFor="let option of foods">{{ option.viewValue }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="alternativa" *ngIf="!mostarchick">
                <mat-form-field class="example-chip-list">
                    <mat-chip-list #chipList aria-label="Fruit selection" >
                      <mat-chip *ngFor="let fruit of alternativas" [selectable]="selectable"
                               [removable]="removable" (removed)="remove(fruit)" color="accent">
                        {{fruit.descripcion}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      <input [disabled]="bloquear"
                             placeholder="ALTERNATIVAS"
                             [matChipInputFor]="chipList"
                             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                             [matChipInputAddOnBlur]="addOnBlur"
                             (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                  </mat-form-field>
            </div>
              
        <div class="modal-botones">
          <button mat-raised-button type="button" [mat-dialog-close]="newQuestion" color="primary">{{botonname}}</button>
          <button mat-raised-button type="button" (click)="onNoClick()" color="accent">CANCELAR</button>
        </div>
      <!-- </div> -->
    </mat-card-content>
  
  </div>
  