.modal-cuerpo {
    display: grid;
    grid-template-columns: 100%!important;
}
.modal-botones{
    display: grid;
    grid-template-columns: 50% 50%!important;
}
.example-chip-list {
    width: 100%;
  }
  mat-toolbar-row {
    display: grid !important;
    grid-template-columns: 90% 10% !important;
  }