  .pp-container {
    background: url(../../../assets/img/fondo3.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10;
    height: 100%;


  .titulo {
    text-align: center;
    color: $ligth-color;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 195px;
      width: 120px;
    }
  }

  .login {
    font-family: $font-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $ligth-color;
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
  }

  .example-card {
    background: $ligth-color;
    padding: 50px !important;
  }

  .footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    font-weight: 700 !important;
    .span {
      color: blue !important;
      border-bottom-color: blue !important;
      cursor: pointer;
    }
  }
  .centro {
    margin-left: 40px;
  }
}
  @media screen and (max-width: 640px) {
    .pp-container {
      height: 650px;
    }
    img {
      margin-top: 10px;
      height: 120px !important;
      width: 80px !important;
    }
    h3 {
      font-size: 12px;
      font-weight: 300;
    }
  }
  @media screen and (max-width: 1024px) and (min-width: 820px) {
    .pp-container {
    .example-card {
      background: $ligth-color;
      padding: 50px !important;
      width: 250px;
      .centro {
        width: 150px !important;
      }
    }
  }
  }
