#bienvenido {
    h4 {
      text-align: center;
      margin-top: 15px;
      padding-top: 25px;
    }
    p {
      padding: 15px;
      margin: 10px;
      text-transform: uppercase;
    }
    
    .ADMINISTRATIVO-bg {
      background: $primary-color;
    }
  
    .ESCUELA-bg {
      background: $primary-color;;
    }
    
    .DOCENTE-bg {
      background: $primary-color;
      
    }
    
  }  
  
  