<!-- HEADER -->
<div class="header accent" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
  <!-- APP TITLE -->
  <h3>LISTA DE ENCUESTAS</h3>
  <div class="cabezera">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="logo" fxLayout="row" fxLayoutAlign="start center">
      <!-- <mat-icon class="logo-icon mr-16">account_box</mat-icon> -->
      <span  routerLink="/Sistemas/Encuesta/Bienvenido" class="material-icons">keyboard_arrow_left</span>
      <span (click)="openDialog()" class="material-icons">add_circle</span>
      <!-- <span class="material-icons" *ngIf="mostrarboton" (click)="seleccionDelete()">delete_forever</span> -->
    </div>
  </div>
  <!-- / APP TITLE -->
    <!-- SEARCH -->
  <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <div class="search-wrapper mt-16 mt-sm-0">
      <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>search</mat-icon>
        <input [(ngModel)]="buscar" placeholder="BUSCAR">
      </div>

    </div>
  </div>
  <!-- / SEARCH -->
</div>
</div>
<!-- / HEADER -->
<div class="general mat-elevation-z8">
  <div class="courses" fxLayout="row wrap" fxLayoutAlign="center">
    <div class="course mat-elevation-z8" *ngFor="let course of listaencuesta | filter: buscar" fxFlex="100" fxFlex.gt-xs="50"
      fxFlex.gt-sm="33" [ngClass]="course.tipoencuesta">
      <div class="course-content" fxLayout="column" fxFlex="1 1 auto">
        <div class="header card-header" fxLayout="row" fxLayoutAlign="center center" [ngClass]="course.tipoencuesta + '-bg'">
          <div class="category" fxFlex>
            {{course.tipoencuesta}}
          </div>
          <div class="length" fxLayout="row" fxLayoutAlign="center center">
            <!-- <mat-icon class="length-icon s-20">access_time</mat-icon> -->
            <div class="min">FECHA INICIO: {{course.finicio}}</div>
            <div class="min">FECHA FIN: {{course.ffin}}</div>
          </div>
          <span class="material-icons" (click)="reportes(course)">
            analytics
            </span>
        </div>
        <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
          <div class="updated">{{course.denominacion}}</div>
          <mat-divider></mat-divider>
          <div class="semestre"> SEMESTRE: {{course.semestre}}</div>
        </div>
        <mat-divider></mat-divider>
        <section>
          <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="crearPreguntas(course)"
            class="separar">PREGUNTAS</button>
            <button mat-raised-button color="accent" (click)="crearDocentes(course)"
            class="separar">ENCUESTADOS</button>
          </div>
          <!-- <mat-divider></mat-divider> -->
        </section>
        <div class="footer" fxLayout="row" fxLayoutAlign="center center">
          <button mat-raised-button color="warn" (click)="editarEncuesta(course)">EDITAR</button>
        </div>
      </div>
    </div>
  </div>
</div>

