table {
    width: 100%;
}

// .general {
//     border: white;
// }
mat-icon {
    margin: 0 3px 0 3px;
    cursor: pointer;
}

.card-header {
    display: grid!important;
    grid-template-columns: 50% 40% 10%!important;
}
.material-icons {
    color: aliceblue;
    &:hover{
        cursor: pointer;
        color: #c3c3c3;
    }
}