.example-container {
  display: flex;
  flex-direction: column;
}

.todo-list li .view label {
  grid-template-columns: 15% 75%;
}

button {
  margin: 0 10px 0 10px;
}

.sistema {
  cursor: pointer;
}

.sistema:hover {
  // cursor: pointer;
  background-color: rgba(238, 102, 102, 0.623);
}
p{
  font-weight: 700;
  
  strong{
    font-style: italic;
  }
}
.titulo {
  margin: 5px 0 5px 0;
  font-size: 20px;
  font-weight: 700;
  // font
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.category-selector {
  min-width: 320px;
}


.UNICO{
  color: #3f51b5;
  font-weight: 500;
}
.DICOTOMICA{
  color: #d39334;
  font-weight: 500;
}
.MULTIPLE{
  color: #34d39e;
  font-weight: 500;
}
.COMENTARIO{
  color: #34d34e;
  font-weight: 500;
}
.RANGO{
  color: #b13fb5;
  font-weight: 500;
}
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}
