<!-- HEADER -->
<div class="header accent" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
  fxLayoutAlign.gt-xs="space-between center">
  <!-- APP TITLE -->
  <h3>LISTA DE PREGUNTAS</h3>
  <div class="cabezera">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <!-- <mat-icon class="logo-icon mr-16">account_box</mat-icon> -->
        <span routerLink="/Sistemas/Desarrollo/Inicio" class="material-icons">keyboard_arrow_left</span>
        <span (click)="editarEncuesta()" class="material-icons">add_circle</span>
      </div>
    </div>
    <!-- / APP TITLE -->
    <!-- SEARCH -->
    <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
      <div class="search-wrapper mt-16 mt-sm-0">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input [(ngModel)]="buscar" placeholder="BUSCAR">
        </div>

      </div>
    </div>
    <!-- / SEARCH -->
  </div>
</div>
<!-- / HEADER -->
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab label="PREGUNTAS">



    <!-- <div class="general ">
      <div class="tabla mat-elevation-z8">
        <ul id="todo-list" class="todo-list">
          <li>
            <div class="view">
              <label class="cabeza">
                <span class="titulo">TIPO</span>
                <span class="codigo">ENUNCIADO</span>

              </label>
            </div>
          </li>
          <li *ngFor="let item of ListaPregunta; let i = index">
            <div class="view">
              <label class="sistema">
                <span class="sistemas"> {{ item.pregunta.tipoalternativa }} </span>
                <span class="sistemas"> {{i+1}} {{ item.pregunta.enunciado | uppercase }}</span>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div> -->
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        *ngFor="let item of ListaPregunta | filter:buscar" color="primary">
        <mat-expansion-panel-header>
          <mat-panel-title [class]="item.pregunta.tipoalternativa">
            {{ item.pregunta.enunciado | uppercase }}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expand-head">
          <!-- {{ item.tipoalternativa }} -->
          <p>TIPO DE PREGUNTA: <strong> {{ item.pregunta.tipoalternativa }}</strong></p>
          <div class="otro">
            <ul *ngFor="let a of item.pregunta.alternativaList">
              <li>{{a.descripcion}}</li>
            </ul>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>


  </mat-tab>
  <mat-tab label="HISTORIAL DE PREGUNTAS">
    <h3>LISTA DE PREGUNTAS ANTERIORES</h3>

    <div class="botones">
      <button mat-raised-button [disabled]="mostrarboton" color="primary" (click)="seleccionarPregunta()">IMPORTAR
        PREGUNTAS</button>
    </div>



    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox class="example-margin" [checked]="allComplete" [indeterminate]="someComplete()"
              (change)="setAll($event.checked)">
              TODOS
            </mat-checkbox>

          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox [(ngModel)]="row.estado" color="primary" (ngModelChange)="updateAllComplete(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="pregunta">
          <th mat-header-cell *matHeaderCellDef> PREGUNTA </th>
          <td mat-cell *matCellDef="let element"> {{element.enunciado|uppercase}}</td>
        </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef> TIPO </th>
          <td mat-cell *matCellDef="let element"> {{element.tipoalternativa}} </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <!-- <div class="example-element-diagram"> -->
              <!-- <div class="example-element-position"> {{element.position}} </div>
                <div class="example-element-symbol"> {{element.symbol}} </div>
                <div class="example-element-name"> {{element.name}} </div> -->
              <!-- <div class="example-element-weight"> {{element.weight}} </div> -->
              <!-- </div> -->
              <div class="example-element-description">
                <ul>
                  <li *ngFor="let item of element.alternativaList">
                    {{item.descripcion}}
                  </li>
                </ul>
                <!-- {{element.alternativaList}} -->
                <!-- <span class="example-element-description-attribution"> -- Wikipedia </span> -->
              </div>
            </div>
          </td>
        </ng-container>




        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->

    </div>

  </mat-tab>
</mat-tab-group>
