<!-- HEADER -->
<div class="header accent" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
    <!-- APP TITLE -->
    <h3>LISTA DE ADMINISTRATIVOS</h3>
    <div class="cabezera">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <!-- <mat-icon class="logo-icon mr-16">account_box</mat-icon> -->
        <span  routerLink="/Sistemas/Mantenimientos/Lista" class="material-icons">keyboard_arrow_left</span>
        <span (click)="editarEncuesta()" class="material-icons">add_circle</span>
      </div>
    </div>
    <!-- / APP TITLE -->
      <!-- SEARCH -->
    <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
      <div class="search-wrapper mt-16 mt-sm-0">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input [(ngModel)]="buscar" placeholder="BUSCAR">
        </div>
  
      </div>
    </div>
    <!-- / SEARCH -->
  </div>
  </div>
  <!-- / HEADER -->
  
  <div class="general mat-elevation-z8">  
      <ul id="todo-list" class="todo-list">
        <li>
          <div class="view">
            <label class="cabeza">
              <span class="codigo">DNI</span>
              <span class="codigo">PERSONAL</span>
              <span class="codigo">CARGO</span>  
            </label>
          </div>
        </li>
        <li *ngFor="let item of listarAdminis | filter:buscar">
          <div class="view">
            <label class="sistema" (click)="editarEncuesta(item)" >
              <span *ngIf="item.nombre" class="sistemas"> {{ item.dni }} </span>
              <span *ngIf="item.apellido" class="asignatura">{{ item.apellido | uppercase }},  {{ item.nombre | uppercase }}</span>
              <span *ngIf="item.nombre" class="sistemas"> {{ item.cargo| uppercase  }} </span>
            </label>
          </div>
        </li>
      </ul>  
    </div>
  
  