<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="m-0" color="primary">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}} CURSO</span>
        <button mat-icon-button (click)="onNoClick()" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
  
    </mat-toolbar>
  
    <mat-card-content>
      <form #formDirective="ngForm" class="example-form" [formGroup]="validatingForm">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-label>ASIGNATURA</mat-label>
                <input matInput color="primary" formControlName="denominacion" type="text" name="denominacion" required>
                <mat-error>ASIGNATURA REQUERIDA</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-label>SIGLA</mat-label>
                <input matInput color="primary" formControlName="sigla" type="text" name="sigla" required>
                <mat-error>SIGLA REQUERIDA</mat-error>
              </mat-form-field>    
               
              <mat-form-field class="example-full-width">
                <mat-label>ESCUELAS</mat-label>
                <input type="text" matInput formControlName="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.denominacion}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>SERIE</mat-label>
                <mat-select formControlName="serie">
                  <mat-option *ngFor="let option of series" [value]="option.value">
                    {{option.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        <div class="modal-botones">
          <button mat-raised-button type="submit" [mat-dialog-close]="validatingForm.value"
            [disabled]="!validatingForm.valid" color="primary">{{dialogTitle}}</button>
          <button mat-raised-button type="submit" (click)="onNoClick()" color="accent">CANCELAR</button>
        </div>
      </form>
      <!-- </div> -->
    </mat-card-content>
  
  </div>
  