.todo-list li .view label {
    // word-break: break-all;
    // padding: 10px 5px 5px 10px;
    // display: block;
    // line-height: 1.2;
    // transition: color 0.4s;
    // // cambios para el grid
    // display: grid;
      grid-template-columns: 40% 40% 20%;
    }
    // button {
    //     margin: 10px;
    //     width: 150px!important;
    //   }