<!-- HEADER -->
<div class="header accent" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
  <!-- APP TITLE -->
  <h3>LISTA DE ALUMNOS</h3>
  <div class="cabezera">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="logo" fxLayout="row" fxLayoutAlign="start center">
      <!-- <mat-icon class="logo-icon mr-16">account_box</mat-icon> -->
      <span  routerLink="/Sistemas/Mantenimientos/Lista" class="material-icons">keyboard_arrow_left</span>
      <!-- <span (click)="editarEstudiante()" class="material-icons">add_circle</span> -->
    </div>
  </div>
  <!-- / APP TITLE -->
    <!-- SEARCH -->
  <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <div class="search-wrapper mt-16 mt-sm-0">
      <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>search</mat-icon>
        <input [(ngModel)]="buscar" placeholder="BUSCAR">
      </div>

    </div>
  </div>
  <!-- / SEARCH -->
</div>
</div>
<!-- / HEADER -->
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab label="LISTA DE DOCENTES">
    <div class="general mat-elevation-z8">
        <h3>LISTA DE DOCENTES</h3>
        <ul id="todo-list" class="todo-list">
          <li>
            <div class="view">
              <label class="cabeza">
                <span class="codigo">NOMBRE</span>
                <span class="codigo">APELLIDO</span>
                <!-- <span class="asignatura">CARGA ACADEMICA</span> -->
    
              </label>
            </div>
          </li>
          <li *ngFor="let item of docentes | filter:buscar">
            <div class="view">
              <label class="sistema">
                <span *ngIf="item.nombre" class="sistemas"> {{ item.nombre | uppercase }} </span>
                <span *ngIf="item.apellido" class="asignatura">{{ item.apellido | uppercase }}</span>
                
                 <button class="destruir destroy" color="primary"
                  (click)="cargarAsignatura(item)"><span class="material-icons">
                    web
                    </span></button>
              </label>
            </div>
          </li>
        </ul>
    </div>

  </mat-tab>
  <mat-tab label="CARGA DE DOCENTES"> 
    <div class="general mat-elevation-z8">

        <ul id="todo-list" class="todo-list">
            <li>
              <div class="view">
                <label class="cabeza">
                  <span class="codigo">DOCENTE</span>
                  <span class="codigo">CURSO</span>
                  <span class="asignatura">SEMESTRE</span>
                  
                </label>
              </div>
            </li>
            <li *ngFor="let item of listaCarga | filter:buscar">
              <div class="view">
                <label class="sistema">
                  <span class="sistemas"> {{ item.iddocente.apellido | uppercase }}, {{ item.iddocente.nombre | uppercase }} </span>
                  <span class="asignatura">{{ item.idasignatura.denominacion | uppercase }} - {{ item.idasignatura.sigla | uppercase }} - {{ item.tipo | uppercase }} </span>
                  <span class="sistemas"> {{ item.semestre }} </span>
                  <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon> -->
                </label>
              </div>
            </li>
          </ul>
    
    
    
    </div>      
</mat-tab>
  <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
</mat-tab-group>
