<!-- HEADER -->
<div class="header accent" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
  <!-- APP TITLE -->
  <h3>LISTA DE CARGAS ACADEMICAS</h3>
  <div class="cabezera">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="logo" fxLayout="row" fxLayoutAlign="start center">
      <!-- <mat-icon class="logo-icon mr-16">account_box</mat-icon> -->
      <span  routerLink="/Sistemas/Desarrollo/Inicio" class="material-icons">keyboard_arrow_left</span>
      <!-- <span (click)="openDialog()" class="material-icons">add_circle</span> -->
      <!-- <span class="material-icons" *ngIf="mostrarboton" (click)="seleccionDelete()">delete_forever</span> -->
    </div>
  </div>
  <!-- / APP TITLE -->
    <!-- SEARCH -->
  <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <div class="search-wrapper mt-16 mt-sm-0">
      <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>search</mat-icon>
        <input [(ngModel)]="buscar" placeholder="BUSCAR">
      </div>

    </div>
  </div>
  <!-- / SEARCH -->
</div>
</div>
<!-- / HEADER -->
<div class="general mat-elevation-z8">
<!-- POR CATEGORIA -->
<mat-form-field appearance="outline" class="category-selector">
  <mat-label>SELECCIONE TIPO</mat-label>
  <mat-select [(ngModel)]="currentCategory"
              (selectionChange)="filterCoursesByCategory()">
      <mat-option [value]="'todos'">
          TODOS
      </mat-option>
      <mat-option *ngFor="let category of categories" [value]="category.value">
          {{ category.label }}
      </mat-option>
  </mat-select>
</mat-form-field>


<!-- POR SERIE -->
<mat-form-field appearance="outline" class="category-selector">
<mat-label>SELECCIONE SERIE</mat-label>
<mat-select [(ngModel)]="currentSerie"
            (selectionChange)="filterCoursesBySerie()">
    <mat-option [value]="'todos'">
        TODOS
    </mat-option>
    <mat-option *ngFor="let category of series" [value]="category.value">
        {{ category.label }}
    </mat-option>
</mat-select>
</mat-form-field>



    <ul id="todo-list" class="todo-list">
        <li>
          <div class="view">
            <label class="cabeza">
              <span class="codigo">DOCENTE</span>
              <span class="codigo">CURSO</span>
              <!-- <span class="asignatura">CARGA ACADEMICA</span> -->
              
            </label>
          </div>
        </li>
        <li *ngFor="let item of filtertipo | filter:buscar">
          <div class="view">
            <label class="sistema">
              <span class="sistemas"> {{ item.iddocente.apellido | uppercase }}, {{ item.iddocente.nombre | uppercase }} </span>
              <span class="asignatura">{{ item.idasignatura.denominacion | uppercase }} - {{ item.idasignatura.sigla | uppercase }} - {{ item.tipo | uppercase }} </span>
              <!-- <button class="destruir destroy" (click)="EditarDocente(item)"><mat-icon>edit</mat-icon></button> -->
              <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon> -->
            </label>
          </div>
        </li>
      </ul>



</div>