<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="m-0" color="primary">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">EDITAR ALTERNATIVA</span>
        <button mat-icon-button (click)="onNoClick()" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
  
    </mat-toolbar>
  
    <mat-card-content>

        <div class="modal-cuerpo">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-label>ALTERNATIVA</mat-label>
                <input [(ngModel)]="alternativa.descripcion" matInput color="primary" type="text" name="enunciado" required>
                <!-- <mat-error>PREGUNTAS REQUERIDA</mat-error> -->
              </mat-form-field>            
              
            </div>
              
        <div class="modal-botones">
          <button mat-raised-button type="button" [mat-dialog-close]="alternativa" color="primary">EDITAR</button>
          <button mat-raised-button type="button" (click)="onNoClick()" color="accent">CANCELAR</button>
        </div>
      <!-- </div> -->
    </mat-card-content>
  
  </div>
  