<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="m-0" color="primary">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}} PERSONAL</span>
        <button mat-icon-button (click)="onNoClick()" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
  
    </mat-toolbar>
  
    <mat-card-content>
      <form #formDirective="ngForm" class="example-form" [formGroup]="validatingForm">
        <div class="modal-cuerpo">
          <div class="dividir">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
              <mat-label>CARGO</mat-label>
              <input matInput color="primary" formControlName="cargo" type="text" name="cargo" required>
              <mat-error>CARGO REQUERIDA</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
              <mat-label>NOMBRE</mat-label>
              <input matInput color="primary" formControlName="nombre" type="text" name="nombre" required>
              <mat-error>SIGLA REQUERIDA</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>ESTADO</mat-label>
                <mat-select required formControlName="estado">
                  <mat-option disabled>--</mat-option>
                  <mat-option *ngFor="let item of opciones" [value]="item.estado">{{ item.descripcion }}</mat-option>                 
                </mat-select>
                <mat-error>CAMPO REQUERIDO</mat-error>
              </mat-form-field>
          </div>
  
          <div class="dividir">
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
              <mat-label>APELLIDOS</mat-label>
              <input matInput color="primary" formControlName="apellido" type="text" name="apellido" required>
              <mat-error>SIGLA REQUERIDA</mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
              <mat-label>DNI</mat-label>
              <input matInput #input maxlength="8" color="primary" formControlName="dni" type="text" name="dni" required>
              <mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint>
              <mat-error>SIGLA REQUERIDA</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="modal-botones">
          <button mat-raised-button type="submit" [mat-dialog-close]="validatingForm.value"
            [disabled]="!validatingForm.valid" color="primary">{{dialogTitle}}</button>
          <button mat-raised-button type="submit" (click)="onNoClick()" color="accent">CANCELAR</button>
        </div>
      </form>
      <!-- </div> -->
    </mat-card-content>
  
  </div>
  