<mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="hijo1">
        <span [routerLink]="['/Sistemas/Encuesta/Academica']"> INGENIERIA DE SISTEMAS</span>
        <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="mostrar"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/Sistemas/Desarrollo/Inicio']" *ngIf="mostrar"><mat-icon>dialpad</mat-icon><span>ENCUESTAS</span></button>
          <!-- <button mat-menu-item [routerLink]="['/Sistemas/Resultados/Docente']" *ngIf="mostrar"><mat-icon>voicemail</mat-icon><span>RESULTADOS</span></button> -->
          <button mat-menu-item [routerLink]="['/Sistemas/Mantenimientos/Lista']" *ngIf="mostrar"><mat-icon>build</mat-icon><span>MANTENIMIENTO</span></button>
        </mat-menu>
      </div>            
      <div class="hijo2">
        <span class="nombre"> {{nombre | uppercase}}</span>
        <button mat-icon-button [matMenuTriggerFor]="menu2"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #menu2="matMenu">         
          <button mat-menu-item class="salir" (click)="Salir()"><mat-icon>notifications_off</mat-icon><span>SALIR</span></button>
        </mat-menu>
      </div>      
      
        <!-- <span>FELIX ASTO BERROCAL</span>
          <button mat-menu-item class="salir" (click)="Salir()"><mat-icon>notifications_off</mat-icon><span>SALIR</span></button>
        -->
    </mat-toolbar-row>


    <!-- <div class="nav">
      <input type="checkbox" id="nav-check">
      <div class="nav-header">
        <div class="nav-title">
          INGENIERIA DE SISTEMAS
        </div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
      
      <div class="nav-links">
        <a href="//github.io/jo_geek" target="_blank">Github</a>
        <a href="http://stackoverflow.com/users/4084003/" target="_blank">Stackoverflow</a>
        <a href="https://in.linkedin.com/in/jonesvinothjoseph" target="_blank">LinkedIn</a>
        <a href="https://codepen.io/jo_Geek/" target="_blank">Codepen</a>
        <a href="https://jsfiddle.net/user/jo_Geek/" target="_blank">FELIX ASTO BERROCAL</a>
      </div>
    </div> -->