mat-toolbar-row{
  display: grid;  
  grid-template-columns: 60% 20%;
}
.nombre {
  // font-size: 1.2vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media screen and (max-width:640px) {
  mat-toolbar-row{
    display: block;  
    .hijo1 {
      display: none;
    }
  }
}