<img *ngIf="verimagen" [src]="imagen" width="100%" height="100%" class="img-grande">
<img *ngIf="verimagen" [src]="imagen2" width="100%" height="100%" class="img-peque">
<router-outlet *ngIf="!verimagen"></router-outlet>


