#academica {

  h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
  }

  table {
    width: 100%;
  }

  @media screen and (max-width:640px) {

    td,
    th {
      font-size: 9px !important;
    }
  }

  .category-selector {
    min-width: 320px;
    margin: 0 20px;
  }

  button {
    margin: 10px 50px 50px 50px;

    &:hover {
      background: red;
    }
  }

  .buton-iniciar {
    justify-content: center;
  align-items: center;
  }
}
