<div id="academica">
<div class="header accent" fxLayout="column" color="secondary" fxLayoutAlign="start" fxLayout.gt-xs="row"
  fxLayoutAlign.gt-xs="space-between center">
  <h3>LISTA DE DOCENTES A ENCUESTAR</h3>
  <div class="cabezera">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <span  routerLink="/Sistemas/Encuesta/Bienvenido" class="material-icons">keyboard_arrow_left</span>
      <!-- <span *ngIf="todo.length !==0" (click)="GerenerarEncuesta()" class="material-icons">ballot</span> -->

      </div>
    </div>
    <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
      <div class="search-wrapper mt-16 mt-sm-0">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input (keyup)="applyFilter($event)" placeholder="BUSCAR">
        </div>

      </div>
    </div>
  </div>
</div>
<div class="contener" *ngIf="cargando">
  <div class="general mat-elevation-z8">
    <h5 class="text-center">
      PRECIONE EL BOTON PARA REALIZAR LA ENCUESTA      
    </h5> 
    <div class="buton-iniciar"> 

      <button mat-raised-button color="primary" (click)="GerenerarEncuesta()">INICIAR ENCUESTA</button>
    </div>

    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">      

        <ng-container matColumnDef="docente">
          <th mat-header-cell *matHeaderCellDef> DOCENTE </th>
          <td mat-cell *matCellDef="let element"> {{element.docente | uppercase}}</td>
        </ng-container>
        <ng-container matColumnDef="curso">
          <th mat-header-cell *matHeaderCellDef> CURSO </th>
          <td mat-cell *matCellDef="let element"> {{element.curso| uppercase}} </td>
        </ng-container>
        <ng-container matColumnDef="modalidad">
          <th mat-header-cell *matHeaderCellDef> TIPO </th>
          <td mat-cell *matCellDef="let element" [class]="element.color"> {{element.modalidad| uppercase}} </td>
        </ng-container>
        <ng-container matColumnDef="sigla">
          <th mat-header-cell *matHeaderCellDef> SIGLA </th>
          <td mat-cell *matCellDef="let element"> {{element.sigla| uppercase}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>
</div>
