
$breakpoints: (
    xs: 'screen and (max-width: 599px)',
    sm: 'screen and (min-width: 600px) and (max-width: 959px)',
    md: 'screen and (min-width: 960px) and (max-width: 1279px)',
    lg: 'screen and (min-width: 1280px) and (max-width: 1919px)',
    xl: 'screen and (min-width: 1920px) and (max-width: 5000px)',
    lt-sm: 'screen and (max-width: 599px)',
    lt-md: 'screen and (max-width: 959px)',
    lt-lg: 'screen and (max-width: 1279px)',
    lt-xl: 'screen and (max-width: 1919px)',
    gt-xs: 'screen and (min-width: 600px)',
    gt-sm: 'screen and (min-width: 960px)',
    gt-md: 'screen and (min-width: 1280px)',
    gt-lg: 'screen and (min-width: 1920px)'
) !default;

// Re-map the breakpoints for the helper classes
$helper-breakpoints: (
    xs: null,
    sm: 'gt-xs',
    md: 'gt-sm',
    lg: 'gt-md',
    xl: 'gt-lg'
);

@mixin media-breakpoint($breakpointName) {

    $mediaQuery: map-get($breakpoints, $breakpointName);

    @if ($mediaQuery == null) {
        @content
    } @else {
        @media #{$mediaQuery} {
            @content
        }
    }
}

.courses {
    width: 100%;
    // max-width: 1040px;
    margin: 0 auto;    
    display: grid;
    grid-template-columns: 33% 33% 33%;
    

@media screen and (max-width:1100px) {
        
    grid-template-columns: 50% 50%;
}
@media screen and (max-width:840px) {
        
    grid-template-columns: 100%;
}
    .course {
        padding: 16px;
        margin: 15px;
        &:hover {

            .course-content {
                border: none;
                // @include mat-elevation(12);
            }
        }

        .course-content {
            min-height: 240px;
            border-radius: 4px;
            overflow: hidden;
            transition: box-shadow 200ms ease-in-out;
            // @include mat-elevation(1);

            .header {
                padding: 15px 10px;
                height: 64px !important;
                min-height: 64px !important;
                max-height: 64px !important;
                display: grid;
                grid-template-columns: 50% 50%;
                &.ESTUDIANTES-bg {
                    background: rgb(10, 106, 182);
                }

                &.DOCENTES-bg {
                    background: rgb(61, 140, 64);
                }

                &.PREGUNTAS-bg {
                    background: rgb(204, 114, 0);
                }

                &.CURSOS-bg {
                    background: rgb(128, 128, 128);
                }
                &.ACADEMICA-bg {
                    background: rgb(222, 250, 98);
                }

                .category {
                    text-transform: capitalize;
                    text-align: left;
                    font-weight: 600;
                    font-size: 15px;
                }

                .length {

                    

                    .min {
                        font-size: 10px;
                        font-weight: 650;
                        .length-icon {
                            margin-right: 8px;
                        }
                    }
                }
            }

            .content {
                padding: 24px;

                .h1 {
                    font-size: 16px;
                    text-align: center;
                }

                .updated {
                    font-size: 13px;
                    font-weight: 600;
                    margin-top: 4px;
                }
            }

            .footer {
                padding: 16px;
                height: 48px !important;
                min-height: 48px !important;
                max-height: 48px !important;
                box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.12);
            }
        }
    }
}
.example-button-row{
    display: grid;
    grid-template-columns: 50% 50%;
    button {
        margin: 10px!important;
    }

}
button {
    width: 90%;
}
.separar {
    margin:  0 5px 0 5px!important;

}
.semestre {
    margin-top: 10px;
    text-align: center;
}