<div class="general mat-elevation-z8">
  <div class="courses" fxLayout="row wrap" fxLayoutAlign="center">
    <div class="course mat-elevation-z8" *ngFor="let course of listmanten" fxFlex="100" fxFlex.gt-xs="50"
      fxFlex.gt-sm="33" [ngClass]="course.denominacion">
      <div class="course-content" fxLayout="column" fxFlex="1 1 auto">
        <div class="header" fxLayout="row" fxLayoutAlign="center center" [ngClass]="course.css + '-bg'">
          <div class="category" fxFlex>
            {{course.denominacion}}
          </div>
          <div class="length" fxLayout="row" fxLayoutAlign="center center">
          </div>
        </div>
        <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
          <div class="updated">{{course.denominacion}}</div>
          <mat-divider></mat-divider>
          <div class="semestre"> {{course.descripcion}}</div>
        </div>
        <div class="footer" fxLayout="row" fxLayoutAlign="center center">
          <button mat-raised-button color="warn" [routerLink]="course.ruta">{{course.buton}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
