// básico
$ligth-color: var(--color-01);
$dark-color: var(--color-02);

// primeros
$primary-color: var(--color-10);
$primary-dark-color: var(--color-11);
$primary-ligth-color: var(--color-12);

// secundarios
$secundary-color: var(--color-20);
$secundary-dark-color: var(--color-21);
$secundary-ling-color: var(--color-22);

// texto color
$text-color: var(--color-02);

// border
$border-color: var(--border-01);

$shadow-color: var(--shadow-01)