@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;1,500;1,600&display=swap');

$font-primary: sans-serif, "Segoe UI", Roboto;
$font-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
$font-tercerium: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;

$heading-font-family: 'Montserrat', sans-serif;
$body-font-family: 'Open Sans', sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;