<!-- HEADER -->
<div class="header accent" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
    <!-- APP TITLE -->
    <h3>REPORTE DE ADMINISTRATIVOS</h3>
    <div class="cabezera">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <!-- <mat-icon class="logo-icon mr-16">account_box</mat-icon> -->
        <span  routerLink="/Sistemas/Desarrollo/Inicio" class="material-icons">keyboard_arrow_left</span>
        <span  (click)="exportexcel()" *ngIf="mostrarExel" class="material-icons">assignment_returned</span>
        <!-- <span class="material-icons" *ngIf="mostrarboton" (click)="seleccionDelete()">delete_forever</span> -->
        <abbr title="DESCARGAR PDF"> <span (click)="createPDF()" *ngIf="mostrarExel"
          class="material-icons">picture_as_pdf</span></abbr>
      </div>
    </div>
    <!-- / APP TITLE -->
      <!-- SEARCH -->
    <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
      <div class="search-wrapper mt-16 mt-sm-0">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input [(ngModel)]="buscar" placeholder="BUSCAR">
        </div>
  
      </div>
    </div>
    <!-- / SEARCH -->
  </div>
  </div>
  <!-- / HEADER -->
  <div class="general mat-elevation-z8">
    <div class="hijo1">
      <ul id="todo-list" class="todo-list">
          <li>
              <div class="view">
                  <label class="cabeza">
                      <span class="codigo">LISTA DE ADMINISTRATIVOS</span>
                  </label>
              </div>
          </li>
          <li *ngFor="let item of listarAdminis | filter:buscar">
              <div class="view">
                  <label class="sistema" (click)="AdministrativoChart(item)">
                      <span> {{ item.nombre | uppercase}} {{ item.apellido | uppercase}} -{{ item.cargo | uppercase}}</span>
                   </label>
              </div>
          </li>
      </ul>
  </div>
    <!-- <table id="excel-table"> 
        <tr>
            <th>CARGA ADMINISTRATIVA</th>
            <th>{{unadmin.nombre}} {{unadmin.apellido}} - {{unadmin.cargo}}</th>
        </tr>
        <tr *ngFor="let item of graficando">
            <td>{{item.descrip}}</td>
            <td>{{item.val1}}</td>
            <td *ngIf="item.val2">{{item.val2}}</td>
            <td *ngIf="item.val3">{{item.val3}}</td>
            <td *ngIf="item.val4">{{item.val4}}</td>
            <td *ngIf="item.val5">{{item.val5}}</td>
            <td *ngIf="item.val6">{{item.val6}}</td>
            <td *ngIf="item.val7">{{item.val7}}</td>
            
        </tr>
    </table> -->

    <div class="hijo1 pageA4" *ngIf="mostrarExel" id="imprimirpfg">
      <div class="logo-header">
  
      </div>
      <table id="excel-table">
        <thead>
          <tr>
            <th>ADMINISTRATIVO</th>
            <th colspan="5">{{unadmin.nombre}} {{unadmin.apellido}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of graficando">
            <td *ngIf="item.descrip" class="decription" [ngClass]="{'amarillo': item.val1 === 'TOTAL DE ALUMNOS' || item.descrip === 'COMENTARIOS DEL CURSO','comentario': item.descrip ==='COMENTARIO'}">{{item.descrip}}</td>
            <td *ngIf="item.val1" class="alternativa" [attr.colspan]="item.large1" [ngClass]="{'amarillo': item.val1 === 'TOTAL DE ALUMNOS'|| item.descrip === 'COMENTARIOS DEL CURSO','comentario': item.descrip ==='COMENTARIO'}">{{item.val1}}</td>
            <td *ngIf="item.val2" class="alternativa" [attr.colspan]="item.large2" [ngClass]="{'amarillo': item.val1 === 'TOTAL DE ALUMNOS'|| item.descrip === 'COMENTARIOS DEL CURSO'}" >{{item.val2}}</td>
            <td *ngIf="item.val3" class="alternativa" [attr.colspan]="item.large3">{{item.val3}}</td>
            <td *ngIf="item.val4" class="alternativa" [attr.colspan]="item.large4">{{item.val4}}</td>
            <td *ngIf="item.val5" class="alternativa" [attr.colspan]="item.large5">{{item.val5}}</td>
            <td *ngIf="item.descrip ==='COMENTARIO'" class="icono" (click)="eliminarcomentario(item)"><span class="material-icons">
              delete
              </span></td>
          </tr>
        </tbody>
      </table>
    </div>



</div>
