/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;
@import 'assets/styles/index.scss';
@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat.define-palette(mat.$red-palette,900);
$candy-app-secondary: mat.define-palette(mat.$orange-palette);
$candy-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$candy-app-warn: mat.define-palette(mat.$red-palette,400);
// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat.define-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($candy-app-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-footer {
  color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

// @font-face {
//     font-family: 'Material Icons';
//     font-style: normal;
//     font-weight: 400;
//     src: url(https://example.com/MaterialIcons-Regular.eot); __<<ngThemingMigrationEscapedComment1>>__
//     src: local('Material Icons'),
//       local('MaterialIcons-Regular'),
//       url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
//       url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
//       url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
//   }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3)
}

;


.text-center {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

::placeholder {
  color: blue;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: blue;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: blue;
}

.general {
  // border: 1px solid black;
  margin: 10px;
  padding: 20px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

button.btn-cancel {
  // color: #b57edc;
  background: #2ECC71;
}
h1,
h2,
h3 {
  text-align: center;
  font-weight: 700;
}

//radio inicio 
$md-radio-checked-color: rgb(213, 67, 218);
$md-radio-border-color: rgba(0, 0, 0, 0.54);
$md-radio-size: 20px;
$md-radio-checked-size: 10px;
$md-radio-ripple-size: 15px;

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.0);
  }

  50% {
    box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0.1);
  }

  100% {
    box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0);
  }
}

.md-radio {
  margin: 7px 0;

  input[type="radio"] {
    display: none;

    &:checked+label:before {
      border-color: $md-radio-checked-color;
      animation: ripple 0.2s linear forwards;
    }

    &:checked+label:after {
      transform: scale(1);
    }
  }

  label {
    display: inline-block;
    height: $md-radio-size;
    position: relative;
    padding: 0 ($md-radio-size + 10px);
    margin-bottom: 0;
    cursor: pointer;
    vertical-align: bottom;

    &:before,
    &:after {
      position: absolute;
      content: '';
      border-radius: 50%;
      transition: all .3s ease;
      transition-property: transform, border-color;
    }

    &:before {
      left: 0;
      top: 0;
      width: $md-radio-size;
      height: $md-radio-size;
      border: 2px solid $md-radio-border-color;
    }

    &:after {
      top: $md-radio-size / 2 - $md-radio-checked-size / 2;
      left: $md-radio-size / 2 - $md-radio-checked-size / 2;
      width: $md-radio-checked-size;
      height: $md-radio-checked-size;
      transform: scale(0);
      background: $md-radio-checked-color;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

thead td {
  color: #B71C1C;
}

select.mdb-select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #f034c1;
  border-radius: 0;
  outline: 0;
  height: 2.1rem;
  width: 95%;
  font-size: 1rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding-left: 2.2rem;
}

select.mdb-select:active {
  border-bottom: 1px solid rgb(238, 133, 203);
  -webkit-box-shadow: 0 1px 0 0 rgb(230, 111, 230);
  box-shadow: 0 1px 0 0 rgb(228, 32, 195);
}

//  fin de radio


// selec inicio 
select.mdb-select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #f034c1;
  border-radius: 0;
  outline: 0;
  height: 2.1rem;
  width: 75%;
  font-size: 1rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding-left: 2.2rem;
  margin: 10px 0 10px 0;
}

select.mdb-select:active {
  border-bottom: 1px solid rgb(238, 133, 203);
  -webkit-box-shadow: 0 1px 0 0 rgb(230, 111, 230);
  box-shadow: 0 1px 0 0 rgb(228, 32, 195);
}

// Selec fin


// inicio del buscador
.search-box {
  // position: fixed;
  width: 95%;
  display: flex;
  // justify-content: flex-end;
  z-index: 99;

  .search-center {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100px;

    .search {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      width: 80px;
      height: 80px;
      // este es el circulo que se muestra al inicio
      background: #2BBBAD;
      border-radius: 50%;
      transition: all 1s;
      z-index: 4;
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);

      // box-shadow: 0 0 25px 0 crimson;
      &:hover {
        cursor: pointer;
      }

      &::before {
        content: "";
        position: absolute;
        margin: auto;
        top: 22px;
        right: 0;
        bottom: 0;
        left: 22px;
        width: 12px;
        height: 2px;
        background: white;
        transform: rotate(45deg);
        transition: all .5s;
      }

      &::after {
        content: "";
        position: absolute;
        margin: auto;
        top: -5px;
        right: 0;
        bottom: 0;
        left: -5px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid white;
        transition: all .5s;
      }
    }

    input {
      font-family: 'Inconsolata', monospace;
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50px;
      height: 50px;
      outline: none;
      border: none;
      // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      // esta son las sombras al abrirse
      background: #33b5e5;
      color: white;
      text-shadow: 0 0 10px #33b5e5;
      padding: 0 80px 0 20px;
      border-radius: 30px;
      box-shadow: 0 0 25px 0 #33b5e5, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
      // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
      transition: all 1s;
      opacity: 0;
      z-index: 5;
      font-weight: bolder;
      letter-spacing: 0.1em;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        width: 300px;
        opacity: 1;
        cursor: text;
      }

      &:focus~.search {
        right: 0;
        // luego de hacer lick se pinta este color el circulo
        background: #00695c;
        z-index: 6;

        &::before {
          top: 0;
          left: 0;
          width: 25px;
        }

        &::after {
          top: 0;
          left: 0;
          width: 25px;
          height: 2px;
          border: none;
          background: white;
          border-radius: 0%;
          transform: rotate(-45deg);
        }
      }

      &::placeholder {
        color: white;
        opacity: 0.5;
        font-weight: bolder;
      }
    }
  }
}

// fin de buscador

.mat-grid-tile .mat-figure {
  top: 20px !important;
  margin: 10px !important;
  position: relative !important;
}

// botton destroyer

button.destruir {
  margin: 0;
  // padding: 0;
  border: 0;
  background: none;
  // font-size: 80%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus {
  outline: 0;
}

.hidden {
  display: none;
}

.todo-list {
  margin: 1vh;
  padding: 0.5vh;
  list-style: none;
  // color: blue!important;
}

.todo-list li {
  position: relative;
  font-size: 15px;
  border-bottom: 1px solid #ededed;
}

.todo-list li:last-child {
  border-bottom: none;
}

.todo-list li label {
  // word-break: break-all;
  padding: 5px 5px 5px 5px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  // cambios para el grid
  display: grid;
  grid-template-columns: 40% 40% 10%;
}

.todo-list li .destroy {
  display: none;
  position: relative;
  // top: 0;
  right: 10px;
  bottom: 0;
  // width: 40px;
  // height: 40px;
  margin: auto 0;
  font-size: 20px;
  // color: #cc9a9a;
  // margin-bottom: 11px;
  transition: color 0.2s ease-out;
}

.todo-list li .destroy:hover {
  color: #af5b5e;
}

.todo-list li:hover .destroy {
  display: block;
}

.view {

  label.cabeza,
  .codigo {
    // color: blue!important;	
    background-color: #3f51b5;
    // height: 40px;
    text-align: left;
    color: #ededed;
    font-weight: 500;
  }

  label.sistema:hover {
    cursor: pointer;
    background-color: #afb3b2;
  }
  .codigo {
    height: 40px;
    padding: 5px;
  }
}

.a4page {
  width: 210mm;
  height: 320mm;
  font-family: Tahoma;
  padding: 30px;
  margin: 2vh;
  // border: 0.2em solid brown;
}

img.peque {
  margin-left: 20px;
  width: 400px;
  height: 60px;
}

// fin de boton destroyer



$breakpoints: (xs: 'screen and (max-width: 599px)',
  sm: 'screen and (min-width: 600px) and (max-width: 959px)',
  md: 'screen and (min-width: 960px) and (max-width: 1279px)',
  lg: 'screen and (min-width: 1280px) and (max-width: 1919px)',
  xl: 'screen and (min-width: 1920px) and (max-width: 5000px)',
  lt-sm: 'screen and (max-width: 599px)',
  lt-md: 'screen and (max-width: 959px)',
  lt-lg: 'screen and (max-width: 1279px)',
  lt-xl: 'screen and (max-width: 1919px)',
  gt-xs: 'screen and (min-width: 600px)',
  gt-sm: 'screen and (min-width: 960px)',
  gt-md: 'screen and (min-width: 1280px)',
  gt-lg: 'screen and (min-width: 1920px)'
) !default;

// Re-map the breakpoints for the helper classes
$helper-breakpoints: (xs: null,
  sm: 'gt-xs',
  md: 'gt-sm',
  lg: 'gt-md',
  xl: 'gt-lg'
);

@mixin media-breakpoint($breakpointName) {

  $mediaQuery: map-get($breakpoints, $breakpointName);

  @if ($mediaQuery==null) {
    @content
  }

  @else {
    @media #{$mediaQuery} {
      @content
    }
  }
}

.courses {
  width: 100%;
  // max-width: 1040px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;


  @media screen and (max-width:1100px) {

    grid-template-columns: 50% 50%;
  }

  @media screen and (max-width:840px) {

    grid-template-columns: 100%;
  }

  .course {
    padding: 16px;
    margin: 15px;

    &:hover {

      .course-content {
        border: none;
        // @include mat-elevation(12);
      }
    }

    .course-content {
      min-height: 240px;
      border-radius: 4px;
      overflow: hidden;
      transition: box-shadow 200ms ease-in-out;
      // @include mat-elevation(1);

      .header {
        padding: 15px 10px;
        height: 64px !important;
        min-height: 64px !important;
        max-height: 64px !important;
        display: grid;
        grid-template-columns: 50% 50%;

        &.ADMINISTRATIVO-bg {
          background: #008e6b;
        }

        &.ESCUELA-bg {
          background: #f44336;
        }

        &.DOCENTE-bg,
        button {
          border-color: rgb(204, 114, 0);
          border-width: 2px;
          border-style: double;
          border-radius: 5px;

        }

        &.cloud-bg {
          background: grey;
        }

        .category {
          text-transform: capitalize;
          text-align: left;
          font-weight: 600;
          font-size: 15px;
        }

        .length {



          .min {
            font-size: 10px;
            font-weight: 650;

            .length-icon {
              margin-right: 8px;
            }
          }
        }
      }

      .content {
        padding: 24px;

        .h1 {
          font-size: 16px;
          text-align: center;
        }

        .updated {
          font-size: 13px;
          font-weight: 600;
          margin-top: 4px;
        }
      }

      .footer {
        padding: 16px;
        height: 48px !important;
        min-height: 48px !important;
        max-height: 48px !important;
        box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.12);
      }
    }
  }
}

.example-button-row {
  display: grid;
  grid-template-columns: 50% 50%;

  button {
    margin: 10px !important;
  }

}

button {
  width: 90%;
}

.separar {
  margin: 0 5px 0 5px !important;

}

.semestre {
  margin-top: 10px;
  text-align: center;
}

.botones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header {
  background-color: #B71C1C
  ;
  padding: 10px;

  h3 {
    color: #fff;
  }

  .cabezera {
    display: grid;
    grid-template-columns: 20% 80%;

    .search-wrapper {
      // max-width: 480px;
      border-radius: 28px;
      overflow: hidden;
      background-color: white;

      .search {
        height: 48px;
        line-height: 48px;
        padding: 0 10px;

        i,
        mat-icon {
          font-size: 30px;
          margin-top: 10px;
          width: 24px;
          height: 24px;
          min-width: 24px;
          min-height: 24px;
          line-height: 24px;
        }

        input {
          height: 48px;
          min-height: 48px;
          max-height: 48px;
          padding: 0 16px;
          border: none;
          outline: none;
        }
      }
    }

    .logo {
      .material-icons {
        cursor: pointer;
        color: white;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 35px;
        /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        padding: 0 5px;
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;

        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;

        /* Support for IE. */
        font-feature-settings: 'liga';
      }

      .material-icons:hover {
        color: #c2c2c2;
      }
    }
  }
}

@media screen and (max-width:640px) {
  .cabezera {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .header {
    grid-template-columns: 30% 70%;

    .search {
      padding: 0 !important;
    }
  }
}
.modal-botones{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width:640px) {
  .modal-botones{
    // display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.btn{
  
    display: inline-block;
    border-radius: 4px;
    background-color: #f50404e5;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  
}
.btn-primary{
  background-color: #3f51b5;

}
.btn-success{
  background-color: #f4511e;

}