mat-form-field {
    width: 100%;
}
button {
    margin: 10px;
}
.example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }
  .category-selector {
    min-width: 320px;
}

.filters {
    width: 100%;
    max-width: 1040px;
    margin: 24px auto;
    padding: 0 20px;


    .course-search {
        width: 320px;

     
    }
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.expand-head{
  display: grid;
  grid-template-columns: 20% 80%;
}
.UNICO{
  color: #3f51b5;
  font-weight: 500;
}
.DICOTOMICA{
  color: #d33434;
  font-weight: 500;
}
.RANGO{
  color: #d334d3;
  font-weight: 500;
}
.COMENTARIO{
  color: #34d34e;
  font-weight: 500;
}
.material-icons {
  cursor: pointer;
}