<!-- HEADER -->
<div class="header accent" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
  <!-- APP TITLE -->
  <h3>LISTA DE PREGUNTAS</h3>
  <div class="cabezera">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <!-- <mat-icon class="logo-icon mr-16">account_box</mat-icon> -->
        <span  routerLink="/Sistemas/Mantenimientos/Lista" class="material-icons">keyboard_arrow_left</span>
        <span (click)="editarEncuesta()" class="material-icons">add_circle</span>
      </div>
    </div>
    <!-- / APP TITLE -->
    <!-- SEARCH -->
    <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
      <div class="search-wrapper mt-16 mt-sm-0">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input [(ngModel)]="buscar" placeholder="BUSCAR">
        </div>
        
      </div>
    </div>
  <!-- / SEARCH -->
</div>
</div>
<!-- / HEADER -->

<div class="general mat-elevation-z8">


  <!-- <h3>LISTA DE PREGUNTAS</h3> -->
  <mat-radio-group [(ngModel)]="radioselect" (ngModelChange)="listaAllPregunta()"  aria-label="Select an option">
    <mat-radio-button value="DOCENTE" checked>DOCENTES</mat-radio-button>
    <mat-radio-button value="ADMINISTRATIVO">ADMINISTRATIVOS</mat-radio-button>
    <mat-radio-button value="ESCUELA">ESCUELA</mat-radio-button>
  </mat-radio-group>
  <div class="general mat-elevation-z8">

    <mat-accordion>       
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false" *ngFor="let item of preguntas | filter:buscar" color="primary">
        <mat-expansion-panel-header>
          <mat-panel-title [class]="item.tipoalternativa">
            {{ item.enunciado | uppercase }}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expand-head">
          <!-- {{ item.tipoalternativa }} -->
          <p>{{ item.tipoalternativa }}</p>
          <mat-divider></mat-divider>
          <abbr title="EDITAR PREGUNTA">  <span class="material-icons" (click)="editarEncuesta(item)">build_circle</span></abbr>

          <!-- <span class="material-icons" (click)="editarEncuesta(item)">build_circle</span> -->
          <div class="otro">
            <ul *ngFor="let a of item.alternativaList">
              <li>{{a.descripcion}}  <abbr title="EDITAR ALTERNATIVA"(click)="editarAlternativa(item.idpregunta, a)" > <span class="material-icons">build_circle</span></abbr></li>
            </ul>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>