<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="m-0" color="primary">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{docente.nombre |uppercase}} {{docente.apellido |uppercase}}</span>
      <button mat-icon-button (click)="onNoClick()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>

  </mat-toolbar>
<div class="example-container">
  <form #formDirective="ngForm" class="example-form" [formGroup]="validatingForm"
    (ngSubmit)="saveOrUpdateCargo(validatingForm.value)">
    <mat-form-field class="example-full-width">
      <mat-label>CURSOS</mat-label>
      <input type="text" matInput formControlName="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.denominacion}}-{{option.sigla}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

<!-- POR SEMESTRES -->
<mat-form-field appearance="outline" class="category-selector">
  <mat-label>SELECCIONE TIPO</mat-label>
  <mat-select formControlName="semestre">
      <mat-option *ngFor="let category of semestres" [value]="category.value">
          {{ category.label }}
      </mat-option>
  </mat-select>
</mat-form-field>
    <mat-checkbox formControlName="teo">TEORIA</mat-checkbox><br>
    <mat-checkbox formControlName="labo">LABORATORIO</mat-checkbox><br>
    <mat-checkbox formControlName="prac">PRACTICA</mat-checkbox>
    <div class="modal-botones">
      <button mat-raised-button type="submit" [disabled]="!validatingForm.valid" color="primary">AGREGAR</button>
      <button mat-raised-button type="submit" (click)="onNoClick()" color="warn">CANCELAR</button>
      <!-- <button mat-raised-button type="button" color="accent">BORRAR</button> -->
    </div>
  </form>
  <ul id="todo-list" class="todo-list">
    <li>
      <div class="view">
        <label class="cabeza">
          <span class="codigo">NOMBRE</span>
          <span class="codigo">APELLIDO</span>
        </label>
      </div>
    </li>
    <li *ngFor="let item of mandar ;  let i = index">
      <div class="view">
        <label class="sistema">
          <span *ngIf="item.asignatura" class="sistemas"> {{ item.asignatura | uppercase }} </span>
          <span *ngIf="item.tipo" class="asignatura">{{ item.tipo | uppercase }}</span>
          <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="eliminarCursos(i)">delete</mat-icon>
        </label>
      </div>
    </li>
  </ul>
  <div class="modal-botones">
    <button mat-raised-button color="warn" (click)="onNoClick()">CANCELAR</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="mandar" cdkFocusInitial>ACEPTAR</button>
  </div>
</div>