mat-form-field {
    width: 100%;
}
button {
    margin: 10px;
}
.example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }


.todo-list li .view label {
  font-size: 10px;
  grid-template-columns: 45% 45% 10%;
}
// button {
// margin: 0 10px 0 10px;
// }
mat-toolbar-row {
  display: grid !important;
  grid-template-columns: 90% 10% !important;
}