h3{
    text-align: center;
}
.example-container {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.todo-list li .view label {
	// word-break: break-all;
	// padding: 10px 5px 5px 10px;
	// display: block;
	// line-height: 1.2;
	// transition: color 0.4s;
	// // cambios para el grid
	// display: grid;
    grid-template-columns: 80% 10% 10%;
}
.carga {
    color: blue;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
}
label.sistema:hover {
    background: rgb(224, 224, 226);
    cursor: pointer;
}