table {
    width: 100%;
  }
  tr:hover{
    cursor: pointer;
    background-color: #c3c3c3
  }
  .logo-svg{
    margin-left: 6px;
    color: white!important;
    width: 25px;
    &:hover {
      cursor: pointer;
    }
  }