<!-- HEADER -->
<div class="header accent" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
  <!-- APP TITLE -->
  <h3>LISTA DE ALUMNOS</h3>
  <div class="cabezera">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="logo" fxLayout="row" fxLayoutAlign="start center">
      <span  routerLink="/Sistemas/Mantenimientos/Lista" class="material-icons">keyboard_arrow_left</span>
      <span (click)="editarEstudiante()" class="material-icons">add_circle</span>
      <!-- <img class="logo-svg" src="../../../../assets/img/database-solid.svg" alt="insertar SVG con la etiqueta image"> -->
      <!-- <mat-icon class="logo-icon mr-16">account_box</mat-icon> -->
    </div>
  </div>
  <!-- / APP TITLE -->
    <!-- SEARCH -->
  <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <div class="search-wrapper mt-16 mt-sm-0">
      <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>search</mat-icon>
        <input [(ngModel)]="buscar" placeholder="BUSCAR">
      </div>

    </div>
  </div>
  <!-- / SEARCH -->
</div>
</div>
<!-- / HEADER -->
<div class="general mat-elevation-z8">   
  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox [(ngModel)]="row.completed" (ngModelChange)="updateAllComplete()">
          </mat-checkbox>
        </td>
      </ng-container> -->

      <!-- Position Column -->
      <ng-container matColumnDef="alumno">
        <th mat-header-cell *matHeaderCellDef> CURSO </th>
        <td mat-cell *matCellDef="let element" (click)="editarEstudiante(element)"> {{element.apellido |uppercase}}, {{element.nombre |uppercase}}</td>
      </ng-container>
      <!-- Position Column -->
      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef> DNI </th>
        <td mat-cell *matCellDef="let element" (click)="editarEstudiante(element)"> {{element.dni}} </td>
      </ng-container>
      <!-- Position Column -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> CODIGO </th>
        <td mat-cell *matCellDef="let element" (click)="editarEstudiante(element)"> {{element.codigo}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="escuela">
        <th mat-header-cell *matHeaderCellDef> ESCUELA </th>
        <td mat-cell *matCellDef="let element" (click)="editarEstudiante(element)"> {{element.idescuela.denominacion}} </td>
      </ng-container> -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->

  </div>
  
  </div>